body{
    margin: 0;
}

.title-container{
    height: 500px;
    background-image:url('https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-attachment: fixed; /*can move the image as you scroll without this line*/
    background-position: center;
    margin-bottom: 0;
}
.title {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
}

.navbar-container{
    height:75px;
    background-color:grey;
    font-size:1.4rem;
}

.navbar{
    display: flex;
    height:100%;
    align-items:center;
    justify-content: center;
    color: white;
    margin-top:0;
}

.navbar li{
    list-style-type: none;
    padding: 0 40px;
}

.nav-menu {
    margin-left: auto;
}

.main-body{
    margin:0 50px;
}

.two-column{
    display: grid;
    grid-template: 1fr 2fr;
}

.col1{
    padding: 10px 15px;
    grid-column: 1/2;
    /*background-color: aqua; */
}

.col2{
    padding: 10px 15px;
    grid-column: 2/3;
}

img{
    max-width: 100%;
}

.center{
    display: flex;
    align-items:flex-start;
    padding-top: 30px;
}

.button{
    display: inline-block;
    background: #02576c;
    color:white;
    padding: 15px 30px;
    text-align: center;
    text-decoration:none;
    margin-bottom: 50px;
}

.button:hover{
    background: #e2c75c;
}

.flex-column{
    flex-direction: column;
    align-items: initial !important;
}